body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Yekan Bakh', sans-serif;
    background-color: #f0f0f5;
    color: #333;
    direction: rtl;
    text-align: right;
}

.form-container {
    width: 500px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    font-family: 'Yekan Bakh', sans-serif;
    color: #333;
    direction: rtl;
    text-align: center;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.form-header img {
    width: 50px;
    height: auto;
    margin-left: 10px; /* فاصله بین لوگو و متن */
}

.form-header h2 {
    font-size: 29px;
    color: #2b2a2a;
    font-family: 'Yekan Bakh', sans-serif;
    margin: 0;
}

.verification-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    direction: ltr;
}

.verification-inputs input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    font-family: 'Yekan Bakh', sans-serif;

}

.verification-inputs input:focus {
    border-color: #3498db;
    outline: none;
    background-color: #fff;
}

button[type="submit"], .resend-btn {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Yekan Bakh', sans-serif;
}

button[type="submit"]:hover {
    background-color: #0b5ed7;
}

.resend-btn {
    margin-top: 15px;
    background-color: #ccc;
    cursor: not-allowed;
}

.resend-btn.active {
    background-color: #2ecc71;
    cursor: pointer;
}

ul.errorlist {
    margin-top: 10px;
    color: #d00000;
    font-size: 16px;
    list-style: none;
    padding: 0;
    font-family: 'Yekan Bakh', sans-serif;
}

/* استایل برای توست */
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #2ecc71;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 50%;
    transform: translateX(50%);
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}