@font-face {
    font-family: 'Yekan Bakh';
    /*src: url('../fonts/Yekan-Bakh-Regular.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Yekan Bakh', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f0f0f5;
    direction: rtl;
    text-align: right;
    padding-top: 70px;
    padding-bottom: 120px;
}

body > main {
    flex: 1;
}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* ===== Navbar (عمومی) ===== */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #2b2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #fff;
    flex-wrap: wrap;
    gap: 10px;
    direction: rtl;
}

.right-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-group .logo {
    font-weight: bold;
    font-size: x-large;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0;
    padding-right: 20px;
}

.right-group a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}

.navbar .right-group a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #6683a2;
    transition: width 0.3s ease;
}

.navbar .right-group a:hover {
    color: #6683a2;
}

.navbar .right-group a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.navbar .auth-buttons {
    padding-left: 20px;
    display: flex;
    gap: 15px;
    direction: ltr;
}

.navbar .auth-buttons .btn {
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.navbar .auth-buttons .login-btn {
    background-color: #3498db;
}

.navbar .auth-buttons .signup-btn {
    background-color: #2ecc71;
}

.navbar .auth-buttons .login-btn:hover {
    background-color: #0b5ed7;
}

.navbar .auth-buttons .signup-btn:hover {
    background-color: #298b1b;
}

.navbar .auth-buttons .logout-buttons {
    background-color: #c61313;
}

.navbar .auth-buttons .logout-buttons:hover {
    background-color: #860505;
}

.navbar .auth-buttons .dashboard-buttons {
    background-color: #2ecc71;
}

.navbar .auth-buttons .dashboard-buttons:hover {
    background-color: #298b1b;
}

/* ===== Footer (عمومی) ===== */
footer {
    background-color: #2b2a2a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
}

footer .social-links a {
    color: #fff;
    text-decoration: none;
}

