<nav class="navbar">
    <div class="right-group">
        <div class="logo"><a href="/">CIS Control</a></div>
        <ul class="nav-links">
            {% if request.path == '/' %}
                <li><a href="{% url 'controls list' %}">نمای کلی کنترل ها</a></li>
                <li><a href="#features">ویژگی‌ها</a></li>
            {% elif request.path != '/'%}
                <li><a href="/">صفحه اصلی</a></li>
            {% endif %}

            <li><a href="#about">درباره ما</a></li>
            <li><a href="#footer-content">تماس با ما</a></li>
        </ul>
    </div>
    <div class="auth-buttons">
        {% if request.user.is_authenticated and request.user.is_company%}
            <a href="/account/logout" class="btn logout-buttons">خروج</a>
            <a href="/account/dashboard" class="btn dashboard-buttons">داشبورد</a>
        {% else %}
            <a href="/account/login" class="btn login-btn">ورود</a>
            <a href="/account/register/email" class="btn signup-btn">ثبت‌نام</a>
        {% endif %}
    </div>
</nav>
