.navbar .dashboard-buttons {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.navbar .dashboard-buttons .btn {
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.navbar .dashboard-buttons .btn{
    background-color: #2ecc71;
}

/*controls*/
h1 {
    text-align: center;
    margin: 2rem 0 1rem;
    color: #3a6ea5;
}

.controls-container {
   width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 80px;
}

.control-card {
    background-color: #ffffff;
    border: 1px solid #3a6ea5;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: all 0.3s ease;
}

.control-card:hover {
    background-color: #f0f8ff;
}

.control-title {
    font-size: 18px;
    font-weight: bold;
    color: #3a6ea5;
}

.control-details {
    display: none;
    margin-top: 0.75rem;
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    border-top: 1px solid #eee;
    padding-top: 0.75rem;
}

.control-card.active .control-details {
    display: block;
}